In [14]:
import numpy as np
import pandas as pd
import requests
import pyodbc

In [20]:
conn = pyodbc.connect('driver={SQL Server};server=R90QPYP5\SQLSERVER2016;database=master')
cursor = conn.cursor()

##database creation
sql_file = open("SQLScriptForDBCreation.sql")
sql_as_string = sql_file.read()

cursor.execute(sql_as_string)
conn.commit()
conn.close()
###table creation

In [63]:
conn2 = pyodbc.connect('driver={SQL Server};server=R90QPYP5\SQLSERVER2016;database=Netflix_datastorage')
cursor2 = conn2.cursor()
sql_file2 = open("SQLScriptForTablesCreation.sql")
sql_as_string2 = sql_file2.read()
#sql_as_string
cursor2.execute(sql_as_string2)



conn2.commit()
conn2.close()

In [129]:
netflix_csv = pd.read_csv('netflix_titles.csv')
netflix_csv

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow..."
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi..."
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...
...,...,...,...,...,...,...,...,...,...,...,...,...
7782,s7783,Movie,Zozo,Josef Fares,"Imad Creidi, Antoinette Turk, Elias Gergi, Car...","Sweden, Czech Republic, United Kingdom, Denmar...","October 19, 2020",2005,TV-MA,99 min,"Dramas, International Movies",When Lebanon's Civil War deprives Zozo of his ...
7783,s7784,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...
7784,s7785,Movie,Zulu Man in Japan,NaN,Nasty C,NaN,"September 25, 2020",2019,TV-MA,44 min,"Documentaries, International Movies, Music & M...","In this documentary, South African rapper Nast..."
7785,s7786,TV Show,Zumbo's Just Desserts,NaN,"Adriano Zumbo, Rachel Khoo",Australia,"October 31, 2020",2019,TV-PG,1 Season,"International TV Shows, Reality TV",Dessert wizard Adriano Zumbo looks for the nex...
7786,s7787,Movie,ZZ TOP: THAT LITTLE OL' BAND FROM TEXAS,Sam Dunn,NaN,"United Kingdom, Canada, United States","March 1, 2020",2019,TV-MA,90 min,"Documentaries, Music & Musicals",This documentary delves into the mystique behi...

In [130]:
count=0
def checkcount(x):
    x =1

checkcount(count)

In [136]:
conn = pyodbc.connect('driver={SQL Server};server=R90QPYP5\SQLSERVER2016;database=Netflix_datastorage')
cursor = conn.cursor()


for x in netflix_csv['description']:
    cursor.execute('''
            INSERT INTO Description (DescriptionID,Description)
            VALUES (?,?)
            ''',
            count,  
            str(x)
            )
    count=count +1
    

checkcount(count)  

for x in netflix_csv['type']:
    cursor.execute('''
            INSERT INTO Type (TypeID,TypeName)
            VALUES (?,?)
            ''',
            count,  
            str(x)
             )
    count=count +1
    
checkcount(count)
for x in netflix_csv['listed_in']:
    cursor.execute('''
            INSERT INTO ShowListing (ListingID,ShowListing)
            VALUES (?,?)
            ''',
            count,  
            str(x)
            )
    count=count +1
    
checkcount(count)

for x in netflix_csv['rating']:
    cursor.execute('''
            INSERT INTO Rating (RatingID,RatingName)
            VALUES (?,?)
            ''',
            count,  
            str(x)
            )
    count=count+1
    
checkcount(count)
for x in netflix_csv['duration']:
    cursor.execute('''
            INSERT INTO ShowDuration (DurationID,Duration)
            VALUES (?,?)
            ''',
            count,  
            str(x)
            )
    count=count +1
    
checkcount(count)
for x in netflix_csv['country']:
    cursor.execute('''
            INSERT INTO Country (CountryID,CountryName)
            VALUES (?,?)
            ''',
            count,  
            str(x)
            )
    count=count +1
checkcount(count)
for x in netflix_csv['director']:
    cursor.execute('''
            INSERT INTO Director (DirectorID,DirectorName)
            VALUES (?,?)
            ''',
            count,  
            str(x)
            )
    count=count +1


conn.commit()
conn.close()

IntegrityError: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK_ShowListing'. Cannot insert duplicate key in object 'dbo.ShowListing'. The duplicate key value is (1). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")

IntegrityError: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK_Type'. Cannot insert duplicate key in object 'dbo.Type'. The duplicate key value is (1). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")

IntegrityError: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK_Rating'. Cannot insert duplicate key in object 'dbo.Rating'. The duplicate key value is (46723). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")